{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">{% trans 'Авторизоваться' %}</button>
    </form>
{% endblock %}
