{% load i18n %}

<div class="col-lg-12" data-list="comment" style="border:1px solid black;">
    <p class="lead">
        {% trans 'Автор:' %} {{ comment.author }},
    </p>
    <p class="lead">
        {% if comment.author_id == user.id %}
            <button data-url="{% url 'post:comment-edit' comment.pk %}" data-action="edit_comment">
                {% trans 'Изменить' %}
            </button>
        {% endif %}
    </p>
    <p class="lead">{% trans 'Дата публикации:' %}{{ comment.created_datetime }}</p>
    <p class="lead">{{ comment.text }}</p><br>
</div>
