{% load i18n %}
<div class="col-lg-8">

    <!-- Title -->
    <a href="{% url 'post:detail' object.id %}"><h1 class="mt-4">{{ object.title }}</h1></a>

    <!-- Author -->
    <p class="lead">
        {% trans 'Написан пользователем:' %}
        <a href="#">{{ object.author.get_full_name }}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>{% trans 'Опубликован в' %} {{ object.created_datetime }}</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

    <hr>

    <!-- Post Content -->
    <p class="lead">{{ object.text|truncatewords:"200" }}</p>


    <hr>
    {% if user == object.author %}
        <a href="{% url 'post:delete' object.id %}">{% trans 'Удалить' %}</a>
    {% endif %}
    {% if user.is_authenticated %}
        <button
                type="button"
                data-action="like"
                data-url="{% url 'like:like' object.likes.content_type.id object.id %}"
        >
            &hearts;<span id="counter">{% if object.likes.count > 0 %}
            {{ object.likes.count }}{% endif %}</span>
        </button>
    {% endif %}
</div>
