{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <h1>{% trans 'Выберите комнату:' %}</h1>
    {% for object in object_list %}
        <div class="col-lg-8">
            <a href="{% url 'chat:room-detail' object.pk %}">
                <h1 class="mt-4">{{ object.name }}</h1>
            </a>
        </div>
    {% empty %}
        <h1>{% trans 'Нету комнат' %}</h1>
    {% endfor %}
{% endblock %}
