{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block main %}
    <div class="col-lg-8">
        {% for msg in object.message_set.all %}
            {% include 'chat/includes/chat_message.html' %}
        {% empty %}
            <h6 id="text">{% trans 'Сообщений нету, напиши свое первое сообщение' %}</h6>
        {% endfor %}
        <hr>
    </div>
    <div class="col-lg-8">
        <textarea class="form-control" id="message" style="width: 100%; height: 200px;"></textarea>
        <button data-action="send_message">{% trans 'Отправить' %}</button>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
      $( document ).ready( function() {
        const ws_scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
        const webSocket = new WebSocket( ws_scheme + window.location.host + "/{{ object.pk }}/" );
        webSocket.onmessage = function( e ) {
          var data = JSON.parse( e.data );
          if ($( '[data-action="chat_message"]').length > 0)
            $( '[data-action="chat_message"]:last' ).after( data[ 'message_html' ] );
          else
            $( '#text' ).replaceWith( data[ 'message_html' ] );
        };
        $( '[data-action="send_message"]' ).on( 'click', function() {
          $( this ).attr( 'disabled', true );
          const textarea = $( this ).closest( 'div' ).find( '#message' );
          const message = textarea.val();
          if ( message.length > 0 ) {
            webSocket.send(
              JSON.stringify( {
                'message': message,
                'author_id': {{ user.id }}
              } )
            );
          }
          textarea.val( '' );
          $( this ).attr( 'disabled', false );
        } );
      } );
    </script>
{% endblock %}
