{% load i18n %}

<div class="col-lg-12" data-action="chat_message" style="border:1px solid black;">
    <p class="lead">
        {% trans 'Автор:' %} {{ msg.author }},
    </p>
    <p class="lead">{% trans 'Дата публикации:' %}{{ msg.created_datetime }}</p>
    <p class="lead">{{ msg.message }}</p><br>
</div>
