{% load i18n %}

<div class="col-lg-12" data-list="comment" style="border:1px solid black;">
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button
          type="button"
          data-url="{% url 'post:comment-edit' object.pk %}"
          class="btn btn-success"
          data-id="save_comment"
        >
          {% trans 'Сохранить' %}
        </button>
        <button
          type="button"
          data-url="{% url 'post:comment-detail' object.pk %}"
          data-id="close_edit"
          class="btn btn-danger"
        >
          {% trans 'Отменить' %}
        </button>
    </form>
    <br>
</div>
