{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {% trans 'Вы уверены что хотите удалить новость?' %}
        <br>
        <button type="submit">{% trans 'Да' %}</button>
        <a href="{% url 'post:index' %}">
            <button type="button">{% trans ' Нет' %}</button>
        </a>
    </form>
{% endblock %}
