{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block main %}
    <div class="col-lg-8">

        <!-- Title -->
        <a href="{% url 'post:detail' object.id %}"><h1 class="mt-4">{{ object.title }}</h1></a>

        <!-- Author -->
        <p class="lead">
            {% trans 'Написан пользователем:' %}
            <a href="#">{{ object.author.get_full_name }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{% trans 'Опубликован в' %} {{ object.created_datetime }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ object.text }}</p><br>
        {% if user == object.author %}
            <a href="{% url 'post:edit' object.id %}">{% trans 'Изменить' %}</a>
        {% endif %}
        {% if user.is_authenticated %}
            <button
                    type="button"
                    data-action="like"
                    data-url="{% url 'like:like' object.likes.content_type.id object.id %}"
            >
                &hearts;<span id="counter">{% if object.likes.count > 0 %}
                {{ object.likes.count }}{% endif %}</span>
            </button>
            <hr>
            <form action="{% url 'post:create-comment' object.id %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="button" data-action="create_comment">
                    {% trans 'Отправить комментарий' %}
                </button>
            </form>
            <br>
        {% endif %}
        {% for comment in object.comment_set.all %}
            {% include 'post/includes/comment.html' %}
        {% endfor %}


    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/post_detail.js' %}"></script>
    <script>
      $('body').on( 'click', '[data-action="edit_comment"]', function() {
        const url = $( this ).data( 'url' );
        let self = $( this );
        $.get( url, function( e ) {
          self.closest('[data-list="comment"]').replaceWith(e)
        } );
      } );
      $('body').on( 'click', '[data-id="close_edit"]', function() {
        const url = $( this ).data( 'url' );
        let self = $( this );
        $.get( url, function( e ) {
          self.closest('[data-list="comment"]').replaceWith(e)
        } );
      } );
      $('body').on('click', '[data-id="save_comment"]', function () {
        const self = $(this),
                form = self.closest('form');
        let data = {
          'text': form.find('textarea[name="text"]').val(),
          'csrfmiddlewaretoken': form.find('input[name="csrfmiddlewaretoken"]').val()
        };
        $.post(self.data('url'), data, function( e ) {
          if (e.status === 'ok'){
            self.closest('[data-list="comment"]').replaceWith(e.text)
          } else {
            form.replaceWith(e.form)
          }
        })
      })
    </script>
{% endblock %}
