{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    {% trans 'Страница создания объявления' %}
    <form method="post">
        {% csrf_token %}
        <label id="{{ form.title.id_for_label }}">{% trans 'Заголовок' %}</label><br>
        {{ form.title }}<br>
        <span class="alert">{{ form.errors.title }}</span><br>
        <label id="{{ form.text.id_for_label }}">{% trans 'Текст' %}</label><br>
        {{ form.text }}<br>
        {{ form.errors.text }}<br>
        <button type="submit">
            {% if btn_text %}
                {{ btn_text }}
            {% else %}
                {% trans 'Кнопка' %}
            {% endif %}
        </button>
    </form>
{% endblock %}
